.centerform{
    background-color: black;
}
.logInForm{
    background-color: pink;
    padding: 20px 30px;
    border: 1px solid black;
}
button {
    padding: 5px 30px;
    margin-right: 20px;
}
.books{
    /* display: flex; */
    display: inline;
}
.card{
    padding: 10px;
    height: 300px;
    border-radius: 18px;
}
.bookBtn{
    background: pink;
    border: none;
    color: black;
    border-radius: 10px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.error{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color:red;
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    /* .card{
        width:300px;
        margin-left: 80px;
    } */
 }